.HeaderCell {
  align-items: stretch;
  background: var(--grid-header-cell-background);
  border-bottom: solid 1px var(--heading-border-color);
  border-right: 1px solid var(--heading-border-color);
  box-sizing: border-box;
  color: var(--grid-text-color);
  display: inline-flex;
  font-weight: bold;
  height: 100%;
  position: relative;
  vertical-align: top;
}

.HeaderCell.noBottomBorder {
  border-bottom: solid 1px transparent;
}

.HeaderCell.resizing {
  background-color: var(--header-cell-highlight-bg);
}

.innerHeaderCell {
  flex: 1 1 auto;
  font-weight: bold;
  overflow: hidden;
  padding: 0 12px 0 14px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cellWrapper {
  align-items: center;
  display: flex;
  height: 100%;
  vertical-align: top;
  white-space: nowrap;
}

.resizeHandle {
  background-color: rgba(180, 180, 180, 0.05);
  cursor: col-resize;
  flex: 0 0 8px;
  position: relative;
  right: -5px;
  z-index: 1;
}
