.vuSortIndicator {
  position: relative;
  top: 0px;
  left: -5px;
  width: 18px;
}

.vuSortIndicator.multi-col {
  top: -4px;
}

.vuSortPosition {
  font-size: 10px;
  position: absolute;
  left: 9px;
  top: 13px;
}

