.ColumnGroupHeader {
  vertical-align: top;
  overflow: hidden;
  background-color: white;
}

.header-container .ColumnGroupHeader {
  display: inline-block;
}

.ColumnGroupHeader .header-cells {
  height: 100%;
  display: flex;
}

.Canvas .ColumnGroupHeader {
  display: none;
  position: absolute;
  top: 0;
}

.Grid.scrolling-x .Canvas .ColumnGroupHeader {
  display: block;
}
