body {
  background-color: gainsboro;
}
.Grid {
  --grid-heading-border-color: #bbb;
  --grid-cell-border-color: #d4d4d4;

  position: absolute;
  font-family: "Roboto";
  font-size: 0.825em;
}

.header-container {
  white-space: nowrap;
}

.Grid.scrolling-x > .header-container {
  display: none;
}

.Viewport {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.Grid.scrolling-x .Viewport {
  overflow-y: hidden !important;
  top: 0 !important;
}

.scrolling-canvas-container {
  white-space: nowrap;
  transform: translate3d(0, 0, 0);
}

.Canvas {
  display: inline-block;
  height: 568px;
  position: sticky;
  top: 0;
  vertical-align: top;
}

.Canvas.scrollable {
  overflow-x: auto;
  overflow-y: hidden;
}

.fixed .canvas-content-wrapper {
  overflow: hidden;
}

.scrolling.Viewport .Canvas {
  position: static;
}

.scrolling.Viewport .fixed.Canvas .canvas-content {
  transform: none !important;
}

.scrollable .canvas-content {
  position: relative;
}
/* ----------------------------------*/
.Grid {
  background-color: white;
}

/* .canvas-content {
  background-color: var(--content-bg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.075) 2px, transparent 2px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.05) 2px, transparent 2px),
    linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
} */
