.Tabs {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.Tabs .Toolbar:before {
  left: 0;
  width: 100%;
  bottom: 0;
  height: 1px;
  content: '';
  position: absolute;
  background: var(--uitk-grey60);
}

.Tabs > .Header {
  border-bottom: none;
}

/* .Splitter.column + .Flexbox > .Tabs:first-child {
  border-top: solid 1px lightgrey;
} */

.Layout-svg-button {
  --uitk-space-medium: 5px;
}
